body{
    color: #222;
}
img{
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    
}
main{

    padding: 10px;
    max-width: 700px;
    margin: 0 auto;

}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

header a{
    text-decoration: none;
    color: inherit;
}

header a.logo{
    font-weight: bold;
    font-size: 20px;
}

header nav{
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}

div.post{
    display: grid;
    grid-template-columns: 0.9fr 1.2fr ;
    gap: 20px;
    border: 2px solid #222;
    padding: 10px;
    margin: 20px;
    box-shadow: #333 inset;
    border-radius: 5px;
}   


div.post div.texts h2{
    margin: 0px;
    font-size: 1 rem;
}

div.post p.info{
    margin: 6px 0px;
    color: #888;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    gap: 10px;

}

div.post p.info a.author{
    color: #333;

}

div.post p.summary{
    margin: 6px 0px;
    line-height: 1.4rem;
}